/*google font*/
@import url('https://fonts.googleapis.com/css?family=Rubik:wght@400;500;600;700;&display=swap');
/*variable css*/
:root{
  /*Colors*/
  /*color mode HSL (Hue,Saturation,Lightness)*/
  --first-color:hsl(353,100%,65%);
  --title-color:hsl(244, 24%,26%);
  --text-color:hsl(244,16%,43%);
  --body-color:hsl(258,60%,98%);
  --container-color:#fff;

  /*font and typographie*/

  /*.5rem == 8px | 1rem == 16px */
  --body-font:'Rubik',sans-serif;
  --h1-font-size:2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size:1rem;
  --small-font-size:0.875rem;
  --smaller-font-size:2.813rem;

}