/*google font*/
@import url('https://fonts.googleapis.com/css?family=Rubik:wght@400;500;600;700;&display=swap');
/*variable css*/
:root{
  /*Colors*/
  /*color mode HSL (Hue,Saturation,Lightness)*/
  --first-color:hsl(353,100%,65%);
  --title-color:hsl(244, 24%,26%);
  --text-color:hsl(244,16%,43%);
  --body-color:hsl(258,60%,98%);
  --container-color:#fff;

  /*font and typographie*/
  
}